@import "tailwindcss";

* {
  font-family: "Mouse Memoirs", sans-serif;
}

@theme {
  --color-neutral-950: #000000;
  --color-neutral-0: #ffffff;
  --color-slate-950: #0b1524;
  --color-slate-600: #243041;
  --color-blue-600: #2463ff;
  --color-blue-500: #5b8aff;
  --color-indigo-600: #261676;
  --color-indigo-400: #887dc0;

  --color-gradient-2: linear-gradient(180deg, #67b6ff -7%, #ffffff 108%);

  --color-gradient-5: linear-gradient(
    180deg,
    #1a043a 0%,
    #151278 70%,
    #2b1677 100%
  );
}

@layer components {
  .text-preset-1 {
    font-size: 136px;
    line-height: 120%;
    letter-spacing: -1px;
  }
  .text-preset-2 {
    font-size: 104px;
    line-height: 120%;
    letter-spacing: -1px;
  }
  .text-preset-3 {
    font-size: 94px;
    line-height: 120%;
    letter-spacing: -1px;
  }
  .text-preset-4 {
    font-size: 88px;
    line-height: 120%;
    letter-spacing: 0px;
  }
  .text-preset-5 {
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 2.5px;
  }
  .text-preset-6 {
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 2.5px;
  }
  .text-preset-7 {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 1.75px;
  }
  .text-preset-8 {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 1.75px;
  }
  .text-preset-9 {
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.75px;
  }
  .text-preset-10 {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.75px;
  }
  .text-preset-11 {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.75px;
  }
  .text-preset-12 {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.75%;
  }

  .gradient-1 {
    background: linear-gradient(180deg, #344aba 0%, rgba(0, 20, 121, 0.8) 100%);
  }

  .gradient-3 {
    background: linear-gradient(180deg, #fe71fe 16%, #7199ff 100%);
  }

  .gradient-3:hover {
    background: linear-gradient(180deg, #ff95ff 0%, #a3aeff 100%);
  }

  .color-gradient-2 {
    background: linear-gradient(180deg, #67b6ff -7%, #ffffff 108%);
  }

  .color-gradient-5 {
    background: linear-gradient(180deg, #1a043a 0%, #151278 70%, #2b1677 100%);
  }
}
